*{
    margin: 0px;
    padding: 0px;
}
.naav-container{
    display: flex;
}
.logo-section{
    display: flex;
    margin: 37px;
}
.g{
    color: rgb(235, 68, 123);
}
.logo-title{
    margin:6px;
    margin-top: -6px;
    font-size: 42px;
    font-weight: bold;
}
.about-section ul{
    display: flex;
    margin-left: 378px;
    margin-top:50px;
   

}
.about-section ul li{
    text-decoration: none;  
    list-style: none;
    display: flex;
    margin: 8px;
    padding: -9px;
}
.btn-1{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    font-size: 15px;
    font-weight:290;
    cursor: pointer;
    border: none;
}
.follow{
    text-align: center;
}
.banner-section{
    background-color: #f6f4f8;
    display: flex;
}
.banner-item{
    margin-top: 120px;
    padding: 40px;
    margin-left: 50px;
    width: auto;
}
.play{
    font-size: 22px;
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size:50px;
 margin-left: -9px;
}
.btn-21{
    border-radius: 8px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    padding: 10px;
}
.btn-22{
    border-radius: 8px;
    background: #4EC5F7;
    border: none;
    padding:10px;
}
.banner-img>img{
    width: 72%;
    margin-left: 150px; 
}
.description{
    display: flex;
    margin-top: 55px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.des-img>img{
   width: 84%;
   margin-left: 80px;
}
.des-text{
    margin-top: 20px;
    margin-right: 60px;
}
.wg{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 text-align:right;
}
.gp{
    text-align: right;
    color: #534C64;
}
.km{ border-radius: 20px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    font-size: 16px;
    font-style: normal;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 234px;
}
.last-text{
    align-items: end;
}
.main-section{
    margin-top: 20px;
    text-align: center;
    
}
.highlight{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.tp{
    color: #534C64;
    text-align: center;
}
.main-img{
    display: flex;
    
}
.main-img>div>img{
    width: 75%;
    margin-left: 25px;
    padding: 20px;
    margin-top: 15px;

    
}
.main-section2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-text{
    margin-top: 145px;
    margin-left: 95px;
}
.pi{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.tp2{
    color: #534C64;
    
}
.main-img2>img{
    width: 83%;
    margin-left: 170px;

}
.img3>img{
    width: 75%;
    margin-top: 300px;
    margin-right: 76px;
}
@media screen and (max-width:576px) {
    .naav-container,.logo-sectionc.about-section ul{
        flex-direction: column;
    }
}